[submodule "push_swap"]
	path = push_swap
	url = https://github.com/AMarqs/push_swap.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/AMarqs/so_long.git
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/AMarqs/minitalk.git
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/AMarqs/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/AMarqs/ft_printf.git
[submodule "libft"]
	path = libft
	url = https://github.com/AMarqs/libft.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/AMarqs/minishell.git
